.sidebar {
 width: 240px;
   background: #07152b;
   color: white;
   min-height: 100vh;
   align-self: stretch;
  padding: 30px 20px;
}

.logo {
  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 15px;
}

.sidebar a:hover {
  color: white;
}